* {
    padding: 0;
    margin: 0;
}

body {
    padding: 30px 50px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

section {
    margin-bottom: 25px;
}

.sectionText {
    margin-bottom: 10px;
}